div {
    text-align : center ; 
    width :50%;
    margin : 0 auto ;
}

h1 {
    font-size: xx-large;
<<<<<<< HEAD
    background-color: tomato;
=======
    background-color: rgb(195, 38, 134);
>>>>>>> my-project
    display: inline-block;
    color  :white ; 
    padding: 10px;
    text-align :center;

}