div {
    text-align : center ; 
    width :50%;
    margin : 0 auto ;
}

h1 {
    font-size: xx-large;
    background-color: tomato;
    display: inline-block;
    color  :white ; 
    padding: 10px;
    text-align :center;

}